.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:200px;
    width: 600px;
    background: none;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction:column;
    gap: 25px;
}


.input{
    display:flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    padding-top: 21px;
    padding-bottom: 20px;
    margin: 0px 30px;
    }

.input input{
    height: 50px;
    width: 330px;
    background-color: transparent;
    border: none;  
    outline: none;
    color: #797979;
    cursor: pointer;
    font-size: 20px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease; /* Add a smooth transition effect for color change */
    cursor: pointer;
  }
  
  .forgot-password:hover {
    color: #4c00b4 !important; /* Change the color on hover to a different shade */
    text-decoration: none; /* Add an underline effect on hover */
  }
  


.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease; /* Add a smooth transition effect */
  }
  
  .submit:hover {
    background: #6633cc; /* Change the background color on hover */
    color: #ffffff;
} 

  .gray{
    background: #eaeaea;
    color: #676767;
  }